header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}