footer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: var(--footer-height);
}

main {
  padding: 24px;
}

.ant-typography pre {
  padding: 0;
  border: none;
}